.DS_Store
**/.DS_Store
__pycache__/
.venv/
models/saliency_net/data/DUT-OMRON/
models/saliency_net/data/SALICON/
models/saliency_net/checkpoints/*.pth
models/saliency_net/saliency_outputs/
backend/pipeline/outputs/
